<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/hisha/IdeaProjects/SauceDemoAutomationTesting"><classes><class name="TestCases.CheckoutTest"><methods><include name="CheckoutProcess"/></methods></class><class name="TestCases.HomeTest"><methods><include name="addItemsToCartTest"/><include name="RemoveItemsTest"/><include name="SortFeatureTesting"/><include name="CheckFooterSocialMedia"/></methods></class><class name="TestCases.LoginTest"><methods><include name="testLogin"/></methods></class><class name="TestCases.MenuTest"><methods><include name="AboutCheck"/><include name="LogoutCheck"/></methods></class></classes></test></suite>